.Container {
  /* text-align: center; */
  /* padding: 0 20vw;s */
  border: 1px solid black;
}

.header {
  text-align: flex-start;
  display: flex;
  flex-direction: row;
  background-color: white;
  /* height: 10em; */
  /* padding: 3.5em 1em; */
  padding: 2em 20vw;
  /* border: 1px solid black; */
}
.header img {
  /* width: 9em; */
  height: 4em;
  /* border: 1px solid black; */
}
.search__container {
  height: 4em;
  display: flex;
  flex-direction: row;
  margin: 0 18px;
}
.searchInput {
  height: 4em;
  min-width: 39em;
  border: 3px solid rgb(23, 73, 179);
  border-right: 0px;
  padding: 0 20px;
  /* border-radius: 0.5em; */
}

.tagGenerator {
  background-color: rgb(23, 73, 179);
  height: 14em;
  padding: 2em 20vw;
  /* border: 3px solid black; */
}
